* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #232424;
  color: #fff;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 10px;
}

.inp {
  width: 40%;
  padding: 6px 12px;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #fff;
  outline: none;
  margin-bottom: 50px;
  transition: all .2s ease;
}

.inp:focus {
  width: 45%;
  background: #fff;
  color: #000;
}


.keyboard {
  text-align: start;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 4px;
  width: 740px;
  margin: 0 auto;
  transition: all .2s ease;
}

.key {
  background: #232424;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
  margin: 2px 1px;
  cursor: pointer;
  display: inline-block;
  width: 38px;
  height: 38px;
  padding-left: 2px;
  padding-top: 2px;
  font-size: 14px;
  transition: all .2s ease;
}

.key:hover {
  background: #d3d3d3;
  color: #000;
}

.backspace {
  width: 102px;
}

.tab {
  width: 70px;
}

.out-slash {
  width: 70px;
}

.capslock {
  width: 80px;
}

.enter {
  width: 108px;
}

.shift-left {
  width: 60px;
}

.shift-right {
  width: 128px;
}


.space {
  width: 350px;
  text-align: center;
  margin-left: 160px;
  padding-top: 11px;
  height: 29px;
}
